body {
    width: 80%;
    margin-left: 10%;
}

.image-small {
    height: 50px;
    width: 50px;
}

.width-small {
    width : 50%;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}