<!DOCTYPE html>
<html ng-app="gemStore">
<head>
    <title>YK device store</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<h1>YK device store</h1>

    <div ng-controller="StoreController as store">

        <div class="list-group-item" ng-repeat="item in store.products">
            <!-- Item section -->

            <div ng-hide="item.soldOut">
                <h2>{{item.name}}</h2>
                <h2><em class="pull-right">{{item.price | currency}}</em></h2>

                <!-- Image Gallery -->
                <section ng-show="item.images.length">
                <img class="img img-thumbnail center-block" ng-src="{{item.images[0]}}" />
                <ul class="clearfix">
                    <li class="small-image pull-left thumbnail" ng-repeat="image in item.images">
                        <img class="image-small" ng-src="{{image}}" />
                    </li>
                </ul>
                </section>

                <!-- Tab -->
                <section ng-controller="PanelController as panel">
                    <ul class="nav nav-pills">
                        <li ng-class="{active:panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Description</a></li>
                        <li ng-class="{active:panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Specifications</a></li>
                        <li ng-class="{active:panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Reviews</a></li>
                    </ul>

                    <!-- Description tab -->

                    <div class="panel" ng-show="panel.isSelected(1)">
                        <h4>Description</h4>
                        <blockquote>{{item.description}}</blockquote>
                    </div>

                    <!-- Specification tab -->

                    <div class="panel" ng-show="panel.isSelected(2)">
                        <h4>Specification</h4>
                        <p>Not yet</p>
                    </div>

                    <!-- Review tab -->

                    <div class="panel" ng-show="panel.isSelected(3)">
                        <h4>Reviews</h4>
                        <form name="reviewForm"
                              ng-controller="ReviewController as reviewCtrl"
                              ng-submit="reviewForm.$valid && reviewCtrl.addReview(item)" novalidate>

                            <div ng-show="item.reviews.length" ng-repeat="review in item.reviews">
                                <blockquote>
                                    <b>{{review.stars}} stars</b>
                                    <p>{{review.details}}</p>
                                    <footer>{{review.email}} on {{review.createdOn | date}}</footer>
                                </blockquote>
                            </div>

                            <!-- Add review -->
                            <fieldset class="width-small">
                                <blockquote>
                                    <b>{{reviewCtrl.review.stars}}</b>
                                    <p>{{reviewCtrl.review.details}}</p>
                                    <footer>{{reviewCtrl.review.email}}</footer>
                                </blockquote>
                                <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" Title="stars" required>

                                </select><br>
                                <textarea  ng-model="reviewCtrl.review.details" class="form-control" placeholder="Write opinion" required></textarea><br>
                                <label>By</label><input type="email" ng-model="reviewCtrl.review.email" class="form-control" placeholder="email@email.com" required><br>
                                <input class="btn btn-success pull-right" type="submit" value="Write a review">
                            </fieldset>
                        </form>
                    </div>
                </section>

                <button ng-show="item.canPurchase">Add to cart</button>
            </div>

        </div>

    </div>

</body>
</html>